.info {
  margin-top: 0;
  margin-bottom: 0;
}

.project img {
  width: 100%;
}

.image2 img {
  width: 100%;
}

.add-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
   text-align: center;
}

h4 {
   text-align: center;
}

.w3c {
  border: 0;
  width:  88px;
  height: 31px;

}
